.btn
	color: #ffffff
	text-transform: uppercase

.btn_sent
	padding: 14px 25px 13px
	margin: 0 auto
	background-color: #ff73ab
	border-radius: 18px
	font-family: 'CoreSansGRounded', sans-serif
	font-size: 12px
	font-weight: 500
	letter-spacing: 1px

.btn_follow
	padding: 16px 37px 14px
	background-color: transparent
	border: 2px solid #ff73ab
	font-family: 'Montserrat', sans-serif
	font-size: 11px
	font-weight: 400

.scroll-down
	position: absolute
	margin: 0 auto
	left: 0
	right: 0
	bottom: -2px
	text-align: center
	a
		width: 18px
		height: 10px
		padding: 5px
		line-height: 40px
