.header
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 2
	height: 113px
	background-color: rgba(255, 255, 255, 0.95)
	border-bottom: 1px solid rgba(0, 0, 0, 0.15)

.header__wrap
	padding-right: 534px
	padding-left: 291px

.logo
	float: left

.nav-menu
	float: right
	ul
		width: 100%
		padding-top: 58px
		padding-bottom: 45px
		li
			margin: 0 20px
			vertical-align: middle
			display: inline-block
			a
				color: #7248b1
				font-family: 'Circe', sans-serif
				font-size: 12px
				text-transform: uppercase
				font-weight: 700
			&:nth-child(2) a
				font-weight: 400

.intro
	width: 100%
	background-image: url("../img/bg-intro.jpg")
	background-size: cover

.intro__wrap
	padding: 320px 307px 185px 0

.intro__title
	color: #262a62
	font-family: 'CoreSansGRounded', sans-serif
	font-size: 86px
	font-weight: 700
	line-height: 109px
	text-align: right

.intro__steps
	width: 430px
	margin-top: 52px
	margin-right: 55px
	float: right
	text-align: center
	span
		display: inline-block
		width: 100%
		margin: 5px 0
		color: #252a62
		font-family: 'Lintel', sans-serif
		font-size: 26px
		font-weight: 400
		line-height: 38px

.dots::before,
.dots::after
	content: ''
	display: block
	margin: 10px auto
	width: 13px
	height: 13px
	border-radius: 13px
	background-color: #111c4e

.about
	margin-top: 66px
	background-image: url("../img/bg-about.png")
	background-size: cover

.about__wrap
	padding-right: 194px
	padding-left: 189px

.section-title
	color: #252a62
	font-family: 'CoreSansGRounded', sans-serif
	font-size: 40px
	font-weight: 700
	line-height: 40px
	text-align: center

.about__text
	margin-top: 32px
	color: #898989
	font-family: 'OpenSans', sans-serif
	font-size: 14px
	font-weight: 400
	line-height: 22px
	text-align: center

.timer
	margin-top: 56px

.timer__wrap


.registration
	margin: 0 auto
	padding-top: 97px
	background-image: url("../img/bg-registration.png")
	background-size: cover

.feedback
	margin: 57px auto 0
	width: 494px
	text-align: center

.feedback__text
	display: inline-block
	width: 100%
	margin-bottom: 10px
	padding: 17px 0 17px 25px
	background-color: #ececec
	border-radius: 22px
	text-align: left

.feedback__mail
	display: inline-block
	width: 100%
	margin-top: 13px
	padding: 16px 0 17px 25px
	background-color: #ececec
	border-radius: 22px
	text-align: left
